<%= form_for(@meetup, :html => { multipart: true }) do |f| %>
  <div class="row">
    <div class="field col">
      <%= f.label :title %><br />
      <%= f.text_field :title, autofocus: true, class: 'form-control' %>
    </div><br/>
    <div class="field col">
    <%= f.label :categories %><br />
    <div>
      <% Category.all.each do |category| %>
        <%= check_box_tag "meetup[category_ids][]", category.id, f.object.categories.include?(category) %>
        <%= category.display_name %><br/>
      <% end %>
    </div>
  </div><br/>
  </div>
  <%= f.hidden_field :location_id, value: @location.id %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, class: 'form-control' %>
  </div><br/>

  <div class="field">
    <%= f.label :requirements %><br />
    <%= f.text_area :requirements, class: 'form-control' %>
  </div><br/>

  <hr/>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div id="attachments field">
        <h2><%= I18n.t 'activerecord.attributes.meetup.attachments' %></h2>
        <%= f.fields_for :attachments do |f| %>
          <div class="form-group row">
            <%= f.text_field :file_file_name, class:'form-control col-sm-11 col-form-label', disabled: true %>
            <div class="col-sm-1">
              <%= f.check_box :_destroy %>
              <%= f.label :_destroy, "Remove" %>
            </div>
          </div>
        <% end %>
        <div class="links">
          <%= link_to_add_association f, :attachments, class:'btn btn-primary' do %><%= fa_icon 'plus' %> <%= I18n.t 'main.add' %><% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div id="photos field">
        <h2><%= I18n.t 'activerecord.attributes.meetup.photos' %></h2>
        <%= f.fields_for :photos do |f| %>
          <div class="card" style="width: 18rem;">
            <%= image_tag f.object.file.url, class:'card-img-top' %>
            <div class="card-body">
              <%= f.text_area :attribution, class:'form-control col-sm-11 col-form-label' %><br/>
              <%= f.check_box :_destroy %>
              <%= f.label :_destroy, "Remove" %>
            </div>
          </div>
        <% end %>
        <div class="links">
          <%= link_to_add_association f, :photos, class:'btn btn-primary' do %><%= fa_icon 'plus' %> <%= I18n.t 'main.add' %><% end %>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="alert alert-warning" role="alert">
    <%= I18n.t 'main.allowed_files' %>
  </div>
  <hr/>
  <% if policy(@meetup).add_host? %>
    <div id="holdings field">
      <h2><%= I18n.t 'activerecord.attributes.meetup.holdings.other' %></h2>
      <div class="row">
        <%= f.fields_for :holdings do |h| %>
          <div class="card-container col-sm-12 col-md-4">
            <div class="card">
              <div class="field card-body">
                <p><%= h.object.user.username %><p>
                <% if h.object.user != current_user %>
                  <%= h.select(:role, [["Admin", 0],["Mod", 1], ["Plain", 2]], {}, {class:'form-control'}) %>
                  <%= h.check_box :_destroy %>
                  <%= h.label :_destroy %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="links">
        <%= link_to_add_association f, :holdings, class:'btn btn-primary' do %><%= fa_icon 'plus' %> <%= I18n.t 'main.add' %><% end %>
      </div>
    </div>
    <hr/>
  <% end %>

  <% if @meetup.taking_place? %>
    <div class="field">
        <%= f.label :start %><br />
        <%= f.time_field :start, class: 'form-control' %>
    </div><br/>

    <div class="field">
        <%= f.label :end %><br />
        <%= f.time_field :end, class: 'form-control' %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>