<%= form_for([@meetup, review],:html=>{:id=>"your_form_id",:remote=>true}) do |f |%>
  <div class="row">
    <div class="field col-2">
      <%= f.label :mark %><br />
      <%= f.select :mark, [0,1,2,3,4,5], {}, class: 'form-control' %>
    </div><br/>
    <%= f.hidden_field :meetup_id, value: @meetup.id %>
    <%= f.hidden_field :user_id, value: current_user.id if current_user %>
    <div class="field col-10">
      <%= f.label :review %><br />
      <%= f.text_field :review, autofocus: true, class: 'form-control' %>
    </div><br/>
  </div><br/>
  <%= f.submit class: 'btn btn-primary right' %>
<% end %>