<!-- Modal -->
<div class="modal fade" id="meetupReportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= render 'reports/form' %>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3"><%= @meetup.title %></h1>
    <p class="lead"><%= meetup_votes(@meetup) %></p>
    <h2 aria-label=<%= I18n.t 'activerecord.attributes.meetup.categories' %>>
      <% @meetup.categories.each do |cat| %>
        <%= link_to cat do %><span class="badge badge-pill badge-info"><%=cat.name %></span><% end %>
      <% end %>
    </h2>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-8 col-sm-12">
    <h2><%= I18n.t 'activerecord.attributes.meetup.description' %></h2>
    <p><%= @meetup.description %></p>
    <hr/>
    <h2><%= I18n.t 'activerecord.attributes.meetup.requirements' %></h2>
    <p><%= @meetup.requirements %></p>
    <hr/>
    <% if @meetup.attachments.size > 0 %>
      <h2><%= I18n.t 'activerecord.attributes.meetup.attachments' %></h2>
      <% @meetup.attachments.each do |f| %>
        <p><%= file_icon(f) %> <%= link_to f.file.original_filename, f.file.url, target: "_blank" %></p>
      <% end %>
      <hr/>
    <% end %>
    <% if @meetup.photos.size > 0 %>
      <h2><%= I18n.t 'activerecord.attributes.meetup.photos' %></h2>
      <% @meetup.photos.each do |img| %>
        <div class="card" style="width: 18rem;">
          <%= image_tag img.file.url, class:'card-img-top' %>
          <div class="card-body">
            <h5 class="card-title"><%= img.attribution %></h5>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if @meetup.date && @meetup.date <= Date.today %>
      <h2><%= I18n.t 'meetup.reviews' %></h2>
      <% if @reviews.count == 0 %>
        <p><%= I18n.t 'meetup.no_reviews' %></p>
      <% end %>
    <% end %>
    <% if policy(@meetup).comment? %>
      <div class="card">
        <div class="card-body">
          <h3><%= I18n.t 'meetup.review' %></h3>
          <%= form_for [@meetup, @meetup.assistances.find_by_user_id(current_user.id)] do |f| %>
            <div class="row">
              <div class="field col-2">
                <%= f.label :mark %><br />
                <%= f.select :mark, [0,1,2,3,4,5], {}, class: 'form-control' %>
              </div><br/>
              <div class="field col-10">
                <%= f.label :review %><br />
                <%= f.text_field :review, autofocus: true, class: 'form-control' %>
              </div><br/>
            </div><br/>
            <%= f.submit class: 'btn btn-primary right' %>
          <% end %>
        </div>
      </div>
    <% end %>
    <% @reviews.each do |review| %>
      <!-- Modal -->
      <div class="modal fade" id="reviewReportModal_<%= review.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <%= render 'reports/review_form', review: review %>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <% if policy(review).report? %>
            <%var_modal = "#reviewReportModal_" + review.id.to_s%>
            <%= link_to (fa_icon 'exclamation-triangle '), "#", data: {toggle: "modal", target: var_modal} , class:'right'%>
          <% end %>
          <% if policy(review).edit? %>
            <%= link_to edit_meetup_assistance_path(@meetup, review), class:'right' do %><%= fa_icon 'pencil' %><% end %>
          <% end %>
          <h5 class="card-title"><span class="badge badge-pill badge-info"><%= review.mark %> <%= fa_icon 'star' %></span></h5>
          <p class="card-text"><%= review.review %></p>
        </div>
        <div class="card-footer text-muted">
          <%= review.user.username %> | <%= time_ago_in_words(review.updated_at) %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-4 col-sm-12 card">
    <div class="card-body">

      <% if policy(@meetup).report? %>
        <button data-toggle="modal" data-target="#meetupReportModal" class="btn btn-warning btn-lg btn-block">
          <%= fa_icon 'exclamation-triangle ' %> <%= I18n.t 'report.report' %>
        </button>
      <% end %>

      <% if policy(@meetup).edit? %>
        <%= link_to edit_meetup_path(@meetup), class:'btn btn-primary btn-lg btn-block' do %><%= fa_icon 'pencil' %> <%= I18n.t 'meetup.edit' %><% end %>
        <% if policy(@meetup).destroy? %>
          <%= link_to meetup_path(@meetup), method: :delete, class:'btn btn-danger btn-lg btn-block' do %><%= fa_icon 'times' %> <%= I18n.t 'meetup.destroy' %><% end %>
        <% end %>
        <hr/>
      <% end %>
      <% if @meetup.taking_place? %>
        <h2><%= I18n.t 'activerecord.attributes.meetup.date' %></h2>
        <p><%= @meetup.date %></p>
        <hr/>
        <h2><%= I18n.t 'activerecord.attributes.meetup.start' %></h2>
        <p><%= @meetup.start %></p>
        <hr/>
        <h2><%= I18n.t 'activerecord.attributes.meetup.end' %></h2>
        <p><%= @meetup.end %></p>
        <hr/>
        <% if policy(@meetup).vote? %>
          <p><%= I18n.t 'meetup.call_to_action_assist' %></p>
          <%= link_to vote_meetup_path(@meetup), method: :post, class:'btn btn-success btn-lg btn-block' do %><%= fa_icon 'check' %> <%= I18n.t 'main.assist' %><% end %>
        <% elsif !user_signed_in? %>
          <p><%= I18n.t 'meetup.call_to_action_no_user_assist' %></p>
          <%= link_to new_user_session_path, class:'btn btn-primary btn-lg btn-block' do %><%= fa_icon 'sign-in' %> <%= I18n.t 'user.login' %><% end %>
        <% end %>
      <% else %>
        <% if policy(@meetup).vote? %>
          <p><%= I18n.t 'meetup.call_to_action' %></p>
          <%= link_to vote_meetup_path(@meetup), method: :post, class:'btn btn-success btn-lg btn-block' do %><%= fa_icon 'arrow-up' %> <%= I18n.t 'main.vote' %><% end %>
        <% elsif user_signed_in? %>
          <p><%= I18n.t 'meetup.already_voted' %></p>
        <% else %>
          <p><%= I18n.t 'meetup.call_to_action_no_user' %></p>
          <%= link_to new_user_session_path, class:'btn btn-primary btn-lg btn-block' do %><%= fa_icon 'sign-in' %> <%= I18n.t 'user.login' %><% end %>
        <% end %>
      <% end %>
      <hr/>
      <h3><%= I18n.t 'activerecord.attributes.meetup.holdings.other' %></h3>
      <ul><% @meetup.hosts.each do |host| %>
        <li><%= host.username %></li>
      <% end %></ul>
    </div>
  </div>
</div>
