<%= form_for [@meetup, @assistance] do |f| %>
  <div class="field">
    <%= f.label :mark %><br />
    <%= f.select :mark, [0,1,2,3,4,5], {}, class: 'form-control' %>
  </div><br/>
  <div class="field">
    <%= f.label :review %><br />
    <%= f.text_field :review, autofocus: true, class: 'form-control' %>
  </div><br/>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>