<header class="main-header show-tell-header">
  <div class="container">
    <%= link_to meetups_path do %>
      <h1>
        <img class="huge-logo" src="logo_base.svg" alt="INFUSIÓN"/>
      </h1>
      <br/>
    <% end %>
    <h2 class="center"><%= I18n.t 'landing.description' %></h2>
  </div>
</header>
<br/>

<div class="container">
  <section class="row">
    <div class="col-sm-6 center">
      <img class="fluid" src="logo_bot.svg" alt="INFUSIÓN"/>
    </div>
    <div class="card col-sm-6 magenta speech-bubble" id="description">
      <h2 class="center"><%= I18n.t 'landing.mission' %></h2>
    </div>
  </section>
</div>
<section id="mission">
  <div class="container">
    <h2 class="center"><%= I18n.t 'landing.quote' %></h2>
  </div>
</section>
<section id="values" class="blue">
  <h2 class="center"><%= I18n.t 'landing.values.title' %></h2>
  <br/>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 value">
        <h3 class="center">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-diamond fa-stack-1x fa-inverse"></i>
          </span><br/>
          <%= I18n.t 'landing.values.diversity' %>
        </h3>
      </div>
      <div class="col-sm-12 col-md-4 value">
        <h3 class="center">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-bullhorn fa-stack-1x fa-inverse"></i>
          </span><br/>
          <%= I18n.t 'landing.values.participation' %>
        </h3>
      </div>
      <div class="col-sm-12 col-md-4 value">
        <h3 class="center">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-puzzle-piece fa-stack-1x fa-inverse"></i>
          </span><br/>
          <%= I18n.t 'landing.values.team_work' %>
        </h3>
      </div>
    </div>
  </div>
</section>
<br/>
<section id="collaborators">
  <div class="container center">
    <p><%= I18n.t 'landing.collaborators' %></p>
    <div class="d-flex justify-content-around  align-items-center">
      <div class="med"><a href="http://startinf.blogs.upv.es/" target="_blank"><img class="huge-logo" alt="start.inf" src="/startinf.png"/></a></div>
      <div class="med"><a href="http://acmupv.webs.upv.es/" target="_blank"><img class="huge-logo" alt="ACM UPV Chapter" src="/acmupv.png"/></a></div>
      <div class="med"><a href="https://www.inf.upv.es/www/etsinf/es/" target="_blank"><img class="huge-logo" alt="ETSINF UPV" src="/etsinf.png"/></a></div>
    </div>
  </div>
</section>