  <header class="main-header">
    <div class="container">
      <%= link_to meetups_path do %>
        <h1>
          <img class="huge-logo" src="logo_base.svg" alt="INFUSIÓN"/>
        </h1>
        <span class="btn btn-intro">ENTRAR</div>
      <% end %>
    </div>
  </header>
<section id="quote">
  <div class="container">
    <h2 class="center"><%= I18n.t 'landing.quote' %></h2>
  </div>
</section>

<div class="container">
  <section class="row">
    <div class="col-sm-6 center">
      <img class="fluid" src="empowerment.svg" alt="INFUSIÓN"/>
    </div>
    <div class="card col-sm-6 magenta" id="description">
      <h2 class="center"><%= I18n.t 'landing.description' %></h2>
    </div>
  </section>
</div>
<section id="mission">
  <div class="container">
    <h2 class="center"><%= I18n.t 'landing.mission' %></h2>
  </div>
</section>
<section id="values" class="blue">
  <h2 class="center"><%= I18n.t 'landing.values.title' %></h2>
  <br/>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 value">
        <h3 class="center">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-diamond fa-stack-1x fa-inverse"></i>
          </span><br/>
          <%= I18n.t 'landing.values.diversity' %>
        </h3>
      </div>
      <div class="col-sm-12 col-md-4 value">
        <h3 class="center">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i>
          </span><br/>
          <%= I18n.t 'landing.values.participation' %>
        </h3>
      </div>
      <div class="col-sm-12 col-md-4 value">
        <h3 class="center">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-puzzle-piece fa-stack-1x fa-inverse"></i>
          </span><br/>
          <%= I18n.t 'landing.values.team_work' %>
        </h3>
      </div>
    </div>
  </div>
</section>
<section id="collaborators">
  <div class="container center">
    <p><%= I18n.t 'landing.collaborators' %></p>
    <a href="http://acmupv.webs.upv.es/" target="_blank"><img class="med" alt="ACM UPV Chapter" src="/acmupv.png"/></a>
    <a href="https://www.inf.upv.es/www/etsinf/es/" target="_blank"><img class="med" alt="ETSINF UPV" src="/etsinf.png"/></a>
  </div>
</section>
<section id="networks">
  <div class="container center">
    <h2><%= I18n.t "main.networks" %></h2>
    <a href="https://twitter.com/infusionvlc"><img class="small" alt="Twitter" src="/twitter.png"/></a>
    <a href="https://instagram.com/infusion_vlc"><img class="small" alt="Instagram" src="/instagram.png"/></a>
    <a href="https://www.youtube.com/channel/UCP5URDPxiT1Nd8LDVmShN5Q"><img class="small" alt="YouTube" src="/youtube.png"/></a>
    <a href="https://t.me/infusionvlc"><img class="small" alt="Telegram" src="/telegram.png"/></a>
  </div>
</section>

<p class="center"><small><a href="http://ahainen.com/">people icon by Andrew Hainen from the Noun Project</a></small></p>