<%= link_to new_category_path, class:'btn btn-primary right' do %>
  <%= fa_icon 'plus' %> <%= I18n.t 'main.add' %>
<% end %>

<h1><%= I18n.t 'activerecord.model.category.other' %></h1>

<% @categories.each do |category| %>
  <div class="card">
    <div class="card-body">
      <%= link_to category do %><h2><%= category.display_name %></h2><% end %>
    </div>
    <div class="card-footer">
      <%= category.meetups.count %> Meetups
    </div>
  </div>
<% end %>
<%= paginate @categories, theme: 'twitter-bootstrap-4' %>
