<%= link_to new_report_path, class:'btn btn-primary right' do %>
  <%= fa_icon 'plus' %> <%= I18n.t 'main.add' %>
<% end %>

<h1>Reportes</h1>

<% @reports.each do |report| %>
  <div class="card">
    <div class="card-body">
      <%=link_to report do %><h2><%= report.title %></h2><% end %>
    </div>
    <div class="card-footer">
    </div>
  </div>
<% end %>
