<!DOCTYPE html>
<html>
  <head>
    <title>INFUSIÓN</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">INFUSIÓN</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/"><%= fa_icon 'home' %> <%= I18n.t 'nav.home' %></a>
          </li>
          <% if current_user %>
            <li class="nav-item">
              <%= link_to "/logout", {class: "nav-link"} do %><%= fa_icon 'sign-out-alt' %> <%= I18n.t 'user.logout' %><% end %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to new_user_session_path, {class: "nav-link"} do %><%= fa_icon 'sign-in' %> <%= I18n.t 'user.login' %><% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_registration_path, {class: "nav-link"} do %><%= fa_icon 'user-plus' %> <%= I18n.t 'user.signup' %><% end %>
            </li>
          <% end %>
      </div>
    </nav>
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
            <%= value %>
      </div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
