<!DOCTYPE html>
<html>
  <head>
    <title>INFUSIÓN</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img src="logo_base.svg" alt="INFUSIÓN">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to meetups_path, {class: "nav-link"} do %><%= fa_icon 'calendar-o' %> Meetups<% end %>
          </li>
          <li class="nav-item">
            <%= link_to call_for_talks_path, {class: "nav-link"} do %><%= fa_icon 'arrow-up' %> Call For Talks<% end %>
          </li>
          <li class="nav-item">
            <%= link_to proposals_path, {class: "nav-link"} do %><%= fa_icon 'lightbulb-o' %> <%= I18n.t 'activerecord.model.proposal', count: 2 %><% end %>
          </li>
          <li class="nav-item">
            <%= link_to archive_path, {class: "nav-link"} do %><%= fa_icon 'history' %> <%= I18n.t 'main.archive' %><% end %>
          </li>
          <li class="nav-item">
            <%= link_to users_path, {class: "nav-link"} do %><%= fa_icon 'users' %> <%= I18n.t 'main.collaborators' %><% end %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to activities_path, {class: "nav-link"} do %><%= fa_icon 'bars' %> Feed<% end %>
            </li>
          <% end %>
        </ul>
        <ul class="navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "/logout", {class: "nav-link"} do %><%= fa_icon 'sign-out' %> <%= I18n.t 'user.logout' %><% end %>
            </li>
            <li class="nav-item">
              <%= link_to "/#{current_user.username}", {class: "nav-link"} do %><%= fa_icon 'user' %> <%= I18n.t 'user.my_profile' %><% end %>
            </li>
            <li class="nav-item">
              <span id="notifications-modal-trigger" class="nav-link" tabindex="0" role="button"
                data-container="body" data-toggle="popover" data-html ="true" data-trigger="click"
                data-placement="bottom" data-content="<%= "#{render 'activities/index'}" %>">
                <% if @notifications.count > 0 %>
                  <%= fa_icon 'bell' %> <span class="badge badge-pill badge-info"><%= @notifications.count %></span>
                <% else %>
                  <%= fa_icon 'bell' %>
                <% end %>
              </span>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to new_user_session_path, {class: "nav-link"} do %><%= fa_icon 'sign-in' %> <%= I18n.t 'user.login' %><% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_registration_path, {class: "nav-link"} do %><%= fa_icon 'user-plus' %> <%= I18n.t 'user.signup' %><% end %>
            </li>
          <% end %>
      </div>
    </nav>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= flash_class(key) %>" role="alert">
        <a href="#" data-dismiss="alert" class="close">×</a>
        <%= value %>
      </div>
    <% end %>
    <div class="container body-padding">
      <%= yield %>
    </div>
  </body>
</html>
