<!DOCTYPE html>
<html>
  <head>
    <title>INFUSIÓN</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'application/favicon' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= flash_class(key) %>" role="alert">
        <a href="#" data-dismiss="alert" class="close">×</a>
        <%= value %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
